<div class="vidoePlayer">
  <div class="localVideo">
    <p>LocalPeer</p>
    <video #local_video [autoplay]="true" [muted]="true"></video>
  </div>
  <div class="remoteVideo">
    <p>RemotePeer</p>
    <video #received_video [autoplay]="true"></video>
  </div>
  <div class="buttonContainer">
    <button (click)="startLocalVideo()" [disabled]="localVideoActive">Start Local</button>
    <button (click)="pauseLocalVideo()" [disabled]="!localVideoActive">Stop Local</button>
    <button [disabled]="inCall || !localVideoActive" (click)="call()">Call</button>
    <button (click)="hangUp()" [disabled]="!inCall">HangUp</button>
  </div>
</div>