button {
  margin: 5px;
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

button:disabled {
  background-color: #cccccc;
  color: #666666;
  cursor: not-allowed;
}

.vidoePlayer{
 display: flex;
 flex-direction: row;
 justify-content: center;
 align-items: center;
}

.localVideo{
  height: 600px;
  width: 600px;
  background-color: #4CAF50;
  border: 2px solid black;
}

.remoteVideo{
    height: 600px;
    width: 600px;
    background-color: #4CAF50;
    border: 2px solid black;
}

